{% extends 'base.html' %}

{% block content %}
    <h2>Log in to your account</h2>
    <form class="register" action="{% url 'login user' %}" method="post">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            {{ field.label_tag }}
              {{ field.errors }}
              {{ field }}
              {{ field.help_text }}
        {% endfor %}
        <li class="error">
            {{ form.non_field_errors }}
        </li>

        <button class="button">
            Log in
        </button>
    </form>

{% endblock %}

